.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* background: rgba(0, 0, 0, 0.35); semi-transparent */
  backdrop-filter: blur(8px);
  padding: 1rem 2rem;
}
.scrolled {
  background: rgba(123, 123, 123, 0.433); /* background on scroll */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}
.logo img { width: 220px; height: auto; cursor: pointer; }
.menuButton {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.navLinks {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.navLinks li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
.navLinks li a:hover { color: #ff5f6d; }

@media (max-width: 900px) {
  .menuButton { display: block; }
  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 70px;
    left: 0;
    padding: 1rem 0;
    text-align: center;
  }
  .show { display: flex; }
}
